.article-container .title {
  color: #1a202c;
  font-weight: 700;
  font-size: 1.5rem;
  vertical-align: inherit;
  line-height: 1.5;
  margin: 0;
}
.article-container .time {
  display: block;
  color: #4a5568;
  margin-bottom: 1rem;
}

.markdown {
  color: #454d64;
  font-size: 15px;
  line-height: 1.60625
}

.markdown:not(:first-child):empty {
  min-height: 32px
}

.markdown h1,.markdown h2,.markdown h3,.markdown h4,.markdown h5,.markdown h6 {
  margin: 42px 0 18px;
  color: #454d64;
  font-weight: 500;
  line-height: 1.40625
}

.markdown h1:hover>a[aria-hidden],.markdown h2:hover>a[aria-hidden],.markdown h3:hover>a[aria-hidden],.markdown h4:hover>a[aria-hidden],.markdown h5:hover>a[aria-hidden],.markdown h6:hover>a[aria-hidden] {
  float: left;
  margin-top: .06em;
  margin-left: -20px;
  width: 20px;
  padding-right: 4px;
  line-height: 1;
  box-sizing: border-box
}

@media only screen and (max-width: 767px) {
  .markdown h1:hover>a[aria-hidden],.markdown h2:hover>a[aria-hidden],.markdown h3:hover>a[aria-hidden],.markdown h4:hover>a[aria-hidden],.markdown h5:hover>a[aria-hidden],.markdown h6:hover>a[aria-hidden] {
      width:14px;
      margin-left: -14px
  }
}

.markdown h1:hover>a[aria-hidden]:after,.markdown h2:hover>a[aria-hidden]:after,.markdown h3:hover>a[aria-hidden]:after,.markdown h4:hover>a[aria-hidden]:after,.markdown h5:hover>a[aria-hidden]:after,.markdown h6:hover>a[aria-hidden]:after {
  content: "#";
  display: inline-block;
  vertical-align: middle;
  font-size: 20px
}

.markdown h1:hover>a[aria-hidden] span,.markdown h2:hover>a[aria-hidden] span,.markdown h3:hover>a[aria-hidden] span,.markdown h4:hover>a[aria-hidden] span,.markdown h5:hover>a[aria-hidden] span,.markdown h6:hover>a[aria-hidden] span {
  display: none
}

.markdown h1+h1,.markdown h1+h2,.markdown h1+h3,.markdown h1+h4,.markdown h1+h5,.markdown h1+h6,.markdown h2+h1,.markdown h2+h2,.markdown h2+h3,.markdown h2+h4,.markdown h2+h5,.markdown h2+h6,.markdown h3+h1,.markdown h3+h2,.markdown h3+h3,.markdown h3+h4,.markdown h3+h5,.markdown h3+h6,.markdown h4+h1,.markdown h4+h2,.markdown h4+h3,.markdown h4+h4,.markdown h4+h5,.markdown h4+h6,.markdown h5+h1,.markdown h5+h2,.markdown h5+h3,.markdown h5+h4,.markdown h5+h5,.markdown h5+h6,.markdown h6+h1,.markdown h6+h2,.markdown h6+h3,.markdown h6+h4,.markdown h6+h5,.markdown h6+h6 {
  margin-top: 16px
}

.markdown h1 {
  margin-top: 48px;
  margin-bottom: 32px;
  font-size: 32px
}

.markdown h2 {
  font-size: 24px
}

.markdown h3 {
  font-size: 20px
}

.markdown h4 {
  font-size: 18px
}

.markdown h5 {
  font-size: 16px
}

.markdown h6 {
  font-size: 14px
}

.markdown p {
  margin: 16px 0
}

.markdown :not(pre) code {
  padding: 2px 5px;
  color: #d56161;
  background: #f6f7f9
}

.markdown code {
  font-family: Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace
}

.markdown pre {
  font-size: 14px;
  background: #f6f7f9
}

.markdown pre:not([class^=language-]) {
  padding: 1em
}

.markdown hr {
  margin: 16px 0;
  border: 0;
  border-top: 1px solid #ebedf1
}

.markdown blockquote {
  margin: 16px 0;
  padding: 0 24px;
  color: rgba(69,77,100,.7);
  border-left: 4px solid #ebedf1;
  overflow: hidden
}

.markdown ol,.markdown ul {
  margin: 8px 0 8px 32px;
  padding: 0
}

.markdown ol li,.markdown ul li {
  margin-bottom: 4px
}

.markdown table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ebedf1
}

.markdown table td,.markdown table th {
  padding: 10px 24px;
  border: 1px solid #ebedf1
}

.markdown table th {
  font-weight: 600;
  background: #f9fafb
}

.markdown table td:first-child {
  font-weight: 500
}

.markdown a {
  color: #4569d4;
  text-decoration: none;
  transition: opacity .2s;
  outline: none
}

.markdown a:hover {
  color: #4569d4;
  opacity: .7;
  text-decoration: underline
}

.markdown a:active {
  color: #4569d4;
  opacity: .9
}

.markdown img {
  max-width: 100%
}

